* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    background: black;
}

.flag {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 280px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column {
    position: relative;
    min-width: auto;
    height: 100%;
    background-color: #ffffff;
}

.column::after,
.column::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 34%;
}

.column::before {
    background: #ff671f;
    top: 0;
}

.column::after {
    background: #046a38;
    bottom: 0;
}

@keyframes flag-wave {
    from {
        transform: translateY(5%);
    }

    to {
        transform: translateY(-5%);
    }
}

.column {
    animation: flag-wave 500ms infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}

